<mat-card class="w-full max-w-3xl mx-auto mt-4">
    <mat-card-header>
        <mat-card-title>
            <p-skeleton width="100%" height="2rem">Registrar Cliente</p-skeleton>
        </mat-card-title>
        <mat-card-subtitle>
            <p-skeleton height="1rem" width="100%"></p-skeleton>
        </mat-card-subtitle>
    </mat-card-header>    
    <mat-card-content>
        <div class="p-4">
            <p-skeleton width="100%" height="3rem" class="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="3rem" class="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="3rem" class="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="3rem" class="mb-2"></p-skeleton>
            <p-skeleton width="100%" height="3rem" class="mb-2"></p-skeleton>
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
            <p-skeleton width="4rem" height="2rem"></p-skeleton>
        </div>
        
    </mat-card-content>    
</mat-card>